li {
    border: 2px solid  rgb(230, 230, 230);
    width: 250px;
    margin-top: 50px;
    margin-right: 15px;
    text-align: center;
}

li img {
    width: 125px;
}

li p {
    text-align: left;
    margin-left: 15px;
}